**/.mypy_cache
*.pyc
.DS_Store
.config_entries.json
.ios.conf
.mypy_cache
.ps4-wake.credentials.json
.tile.conf
Pipfile.lock
emulated_hue_ids.json
entity_registry.yaml
harmony_living_room_tv.conf
home-assistant/settings/.storage
home-assistant/settings/conf/hass/.HA_VERSION
home-assistant/settings/conf/hass/.uuid
home-assistant/settings/conf/hass/deps
home-assistant/settings/www
id_ed25519*
id_rsa*
ip_bans.yaml
known_devices.yaml
nest.conf
options.xml
passwd
secrets.yaml
sonoff
tags*
zwave_device_config.yaml
zwcfg_*
