*.pyc
.DS_Store
.config_entries.json
.env
.ios.conf
.mypy_cache
.ps4-wake.credentials.json
.pytest_cache
.tile.conf
Pipfile.lock
backup/
docs/
emulated_hue_ids.json
entity_registry.yaml
google_calendars.yaml
grafana
harmony_basement_tv.conf
harmony_living_room_tv.conf
id_ed25519*
id_rsa*
ip_bans.yaml
known_devices.yaml
nest.conf
node_modules
options.xml
passwd
secrets.yaml
sonoff
tags*
zwave_device_config.yaml
zwcfg_*
