---
repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v1.16.0
    hooks:
      - id: codespell
        args:
          - --skip="./.*,*.json"
          - --quiet-level=2
          - --ignore-words-list=ba,dur,hass,nd,noone
        exclude: ^hass/settings/custom_components/
        exclude_types: [json]
  - repo: https://github.com/ryanrhee/shellcheck-py
    rev: v0.7.1.1
    hooks:
      - id: shellcheck
        args:
          - --format=json
        files: bin/*
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.20.0
    hooks:
      - id: yamllint
        types: [file, yaml]
        exclude: ^hass/settings/custom_components/
