---
# Base Configuration:
homeassistant: !include conf/homeassistant.yaml

# Core Configuration
conversation:
default_config:
frontend: !include conf/frontend.yaml
http: !include conf/http.yaml
logger: !include conf/logger.yaml
lovelace:
panel_custom: !include conf/panel-custom.yaml
panel_iframe: !include conf/panel-iframe.yaml
recorder: !include conf/recorder.yaml
stream:
scene: !include scenes.yaml

# Components:
almond: !include conf/almond.yaml
cloud: !include_dir_merge_named conf/cloud/
ffmpeg: !include conf/ffmpeg.yaml
google: !include conf/google.yaml
group: !include_dir_named conf/groups/
ifttt: !include conf/ifttt.yaml
input_boolean: !include_dir_merge_named conf/input-booleans/
mqtt: !include conf/mqtt.yaml
nest: !include conf/nest.yaml
notion: !include conf/notion.yaml
notify: !include conf/notifiers.yaml
proximity: !include conf/proximity.yaml
wemo: !include conf/wemo.yaml
wwlln: !include conf/wwlln.yaml
zone: !include conf/zones.yaml
zwave: !include conf/zwave.yaml
