# AppDaemon
# ---------

# Catch-all to ignore everything having to do with AppDaemon's Alexa traffic:
BasicRule wl:0 "mz:BODY|$URL:/api/appdaemon/alexa";

# NGINX
# -----

# Rules to allow HASS auth (0.77 and beyond) to work:
BasicRule wl:0 "mz:$URL_X:^/auth|BODY";
BasicRule wl:1101 "mz:$URL_X:^/auth|ARGS";
BasicRule wl:1101 "mz:$URL_X:^/frontend_latest|ARGS";
