---
auto_departure_lockup_automation:
  module: security
  class: AutoDepartureLockup
  dependencies:
    - guest_mode
    - presence_manager
    - security_manager
  state_changes:
    - disable:
        event: MODE_CHANGE
        event_data:
          name: guest_mode
          state: "on"
      enable:
        event: MODE_CHANGE
        event_data:
          name: guest_mode
          state: "off"

auto_nighttime_lockup_automation:
  module: security
  class: AutoNighttimeLockup
  dependencies:
    - guest_mode
    - presence_manager
    - security_manager
  state_changes:
    - disable:
        event: MODE_CHANGE
        event_data:
          name: guest_mode
          state: "on"
      enable:
        event: MODE_CHANGE
        event_data:
          name: guest_mode
          state: "off"

notify_of_garage_open_automation:
  module: security
  class: GarageLeftOpen
  dependencies:
    - presence_manager
    - security_manager
    - slack_app_home_assistant
  entity_ids:
    garage_door: cover.garage_door
  properties:
    notification_interval: 300
    time_left_open: 600

notify_when_absent_insecure_automation:
  module: security
  class: AbsentInsecure
  dependencies:
    - guest_mode
    - presence_manager
    - security_manager
  entity_ids:
    state: sensor.secure_status
  state_changes:
    - disable:
        event: MODE_CHANGE
        event_data:
          name: guest_mode
          state: "on"
      enable:
        event: MODE_CHANGE
        event_data:
          name: guest_mode
          state: "off"

notify_when_status_changes_automation:
  module: security
  class: NotifyOnChange
  dependencies:
    - presence_manager
  entity_ids:
    state: sensor.secure_status
  state_changes:
    - disable:
        event: MODE_CHANGE
        event_data:
          name: vacation_mode
          state: "off"
      enable:
        event: MODE_CHANGE
        event_data:
          name: vacation_mode
          state: "on"

notify_when_person_on_camera:
  module: security
  class: PersonDetectedOnCamera
  dependencies:
    - presence_manager
  entity_ids:
    cameras:
      - camera_entity_id: camera.garage_camera
        presence_detector_entity_id: binary_sensor.garage_person_detected
      - camera_entity_id: camera.kitchen_camera
        presence_detector_entity_id: binary_sensor.kitchen_person_detected
      - camera_entity_id: camera.guest_bedroom_camera
        presence_detector_entity_id: binary_sensor.guest_bedroom_person_detected
  properties:
    hit_threshold: 5
    window_seconds: 60
  state_changes:
    - disable:
        event: MODE_CHANGE
        event_data:
          name: guest_mode
          state: "on"
      enable:
        event: MODE_CHANGE
        event_data:
          name: guest_mode
          state: "off"
    - disable:
        event: PROXIMITY_CHANGE
        event_data:
          new: home
      enable:
        event: PROXIMITY_CHANGE
        event_data:
          old: home

security_manager:
  module: security
  class: SecurityManager
  entity_ids:
    alarm_control_panel: alarm_control_panel.8673_e_55th_avenue
    garage_door: cover.garage_door
    overall_security_status_sensor: sensor.secure_status
  properties:
    secure_status_mapping:
      - entity_id: lock.garage_fire_door
        friendly_name: the door to the garage
        state: unlocked
      - entity_id: lock.front_door
        friendly_name: the front door
        state: unlocked
      - entity_id: cover.garage_door
        friendly_name: the garage door
        state: open
      - entity_id: alarm_control_panel.8673_e_55th_avenue
        friendly_name: the security system
        state: disarmed
