---
auto_departure_lockup_automation:
  module: security
  class: AutoDepartureLockup
  dependencies:
    - guest_mode
    - notification_manager
    - presence_manager
    - security_manager
  mode_alterations:
    guest_mode: disable
  enabled_config:
    name: Automatic departure lock up
    icon: mdi:car-side
    initial: true

auto_nighttime_lockup_automation:
  module: security
  class: AutoNighttimeLockup
  dependencies:
    - guest_mode
    - notification_manager
    - presence_manager
    - security_manager
  mode_alterations:
    guest_mode: disable
  enabled_config:
    name: Automatically lock up at night
    icon: mdi:clock
    initial: true

notify_of_garage_open_automation:
  module: security
  class: GarageLeftOpen
  dependencies:
    - notification_manager
    - presence_manager
  entities:
    garage_door: cover.garage_door
  properties:
    notification_interval: 300
    time_left_open: 600
  enabled_config:
    name: Notify if garage left open
    icon: mdi:garage
    initial: true

notify_when_absent_insecure_automation:
  module: security
  class: AbsentInsecure
  dependencies:
    - do_not_disturb
    - guest_mode
    - notification_manager
    - presence_manager
    - security_manager
  entities:
    state: sensor.secure_status
  mode_alterations:
    do_not_disturb: disable
    guest_mode: disable
  enabled_config:
    name: Absent & insecure alerts
    icon: mdi:lock-open
    initial: true

notify_when_status_changes_automation:
  module: security
  class: NotifyOnChange
  dependencies:
    - notification_manager
    - presence_manager
    - vacation_mode
  entities:
    state: sensor.secure_status
  mode_alterations:
    vacation_mode: enable
  enabled_config:
    name: Notify when state changes
    icon: mdi:shield-half-full
    initial: false

security_manager:
  module: security
  class: SecurityManager
