---
basement_lights_randomize_automation:
  module: services
  class: ServiceOnRandomTick
  constrain_enabled: true
  constrain_end_time: "22:30:00"
  constrain_start_time: sunset
  services:
    service: "switch/toggle"
    service_data:
      entity_id: switch.basement_lights
  enabled_toggle_entity_id: >
    input_boolean.randomize_nighttime_lighting_automation

basement_lights_randomize_done_for_night_automation:
  module: services
  class: ServiceOnTime
  constrain_enabled: true
  services:
    service: "switch/turn_off"
    service_data:
      entity_id: switch.basement_lights
  schedule_time: "22:30:00"
  enabled_toggle_entity_id: >
    input_boolean.randomize_nighttime_lighting_automation

basement_tv_randomize_automation:
  module: services
  class: ServiceOnRandomTick
  constrain_enabled: true
  constrain_end_time: "22:30:00"
  constrain_start_time: sunset
  services:
    - service: "remote/turn_on"
      service_data:
        entity_id: remote.basement_tv
        activity: Watch TV
    - service: "remote/turn_off"
      service_data:
        entity_id: remote.basement_tv
  lower_end: 600
  enabled_toggle_entity_id: input_boolean.randomize_nighttime_tvs_automation

basement_tv_randomize_done_for_night_automation:
  module: services
  class: ServiceOnTime
  constrain_enabled: true
  services:
    service: "remote/turn_off"
    service_data:
      entity_id: remote.basement_tv
  schedule_time: "22:30:00"
  enabled_toggle_entity_id: input_boolean.randomize_nighttime_tvs_automation

basement_tv_randomize_off_automation:
  module: services
  class: ServiceOnState
  constrain_enabled: true
  services:
    service: "remote/turn_off"
    service_data:
      entity_id: remote.basement_tv
  target_entity_id: input_boolean.randomize_nighttime_tvs_automation
  new_target_state: "off"

living_room_lights_randomize_done_for_night_automation:
  module: services
  class: ServiceOnTime
  constrain_enabled: true
  services:
    service: "switch/turn_off"
    service_data:
      entity_id: group.living_room_lights
  schedule_time: "22:30:00"
  enabled_toggle_entity_id: >
    input_boolean.randomize_nighttime_lighting_automation

living_room_tv_randomize_automation:
  module: services
  class: ServiceOnRandomTick
  constrain_enabled: true
  constrain_end_time: "22:30:00"
  constrain_start_time: sunset
  services:
    - service: "script/start_random_stream_on_living_room_roku"
    - service: "script/stop_random_stream_on_living_room_roku"
  lower_end: 600
  enabled_toggle_entity_id: input_boolean.randomize_nighttime_tvs_automation

living_room_tv_randomize_done_for_night_automation:
  module: services
  class: ServiceOnTime
  constrain_enabled: true
  services:
    service: "script/stop_random_stream_on_living_room_roku"
  schedule_time: "22:30:00"
  enabled_toggle_entity_id: input_boolean.randomize_nighttime_tvs_automation

living_room_tv_randomize_off_when_returning_home_automation:
  module: services
  class: ServiceOnState
  constrain_enabled: true
  services:
    service: "script/stop_random_stream_on_living_room_roku"
  target_entity_id: input_boolean.randomize_nighttime_tvs_automation
  new_target_state: "off"

notify_when_person_on_camera_automation:
  module: security
  class: PersonDetectedOnCamera
  constrain_enabled: true
  dependencies:
    - presence_manager
  cameras:
    - camera_entity_id: camera.garage_camera
      presence_detector_entity_id: binary_sensor.garage_person_detected
    - camera_entity_id: camera.kitchen_camera
      presence_detector_entity_id: binary_sensor.kitchen_person_detected
    - camera_entity_id: camera.guest_bedroom_camera
      presence_detector_entity_id: binary_sensor.guest_bedroom_person_detected
  hit_threshold: 5
  window_seconds: 60

security_manager:
  module: security
  class: SecurityManager
  alarm_control_panel: alarm_control_panel.8673_e_55th_avenue
  garage_door: cover.garage_door
  overall_security_status_sensor: sensor.secure_status
  secure_status_mapping:
    - entity_id: lock.garage_fire_door
      friendly_name: the door to the garage
      state: unlocked
    - entity_id: lock.front_door
      friendly_name: the front door
      state: unlocked
    - entity_id: cover.garage_door
      friendly_name: the garage door
      state: open
    - entity_id: alarm_control_panel.8673_e_55th_avenue
      friendly_name: the security system
      state: disarmed

sofa_lamp_randomize_automation:
  module: services
  class: ServiceOnRandomTick
  constrain_enabled: true
  constrain_end_time: "22:30:00"
  constrain_start_time: sunset
  services:
    service: "switch/toggle"
    service_data:
      entity_id: switch.sofa_lamp
  enabled_toggle_entity_id: >
    input_boolean.randomize_nighttime_lighting_automation
