activate_begin_command="0x08 0x000A"
activate_off="00"
activate_on="01"

advertising_begin_command="0x08 0x0006"
advertising_min_interval="A0 00"
advertising_max_interval="A0 00"
advertising_mode="03 00 00 00 00 00 00 00 00 07 00"

ibeacon_begin_command="0x08 0x0008"
ibeacon_length="1E 02 01 1A 1A"
ibeacon_company="FF 4C 00 02 15"
ibeacon_uuid="12 34 56 AB CD EF 12 34 56 AB CD EF 12 34 56 AB"
ibeacon_major="00 00"
ibeacon_minor="00 00"
ibeacon_txpower="C8"
ibeacon_end_command="00"
