---
api:
  encryption:
    key: !secret api_encryption_key
  password: !secret api_password

binary_sensor:
  - platform: gpio
    pin:
      number: GPIO4
      inverted: true
    name: Power Button
    on_press:
      - switch.toggle: relay

  - platform: status
    name: "${device_friendly_name} Status"

esphome:
  name: "${device_name}"
  platform: ESP8266
  board: esp8285

logger:

ota:

status_led:
  pin:
    number: GPIO1
    inverted: true

switch:
  - platform: gpio
    id: led
    pin: GPIO13
    inverted: true

  - platform: gpio
    name: "${device_friendly_name}"
    pin: GPIO14
    id: relay
    on_turn_on:
      - switch.turn_on: led
    on_turn_off:
      - switch.turn_off: led

text_sensor:
  - platform: template
    name: "${device_friendly_name}: ESPHome Version (Short)"
    lambda: |-
      auto state = id(esphome_version).state;
      return state.substr(0, state.find(' '));

  - platform: version
    name: "${device_friendly_name}: ESPHome Version"
    id: esphome_version

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  fast_connect: true
  output_power: 20dB
